* {
    font-family: 'Domine', serif;
    padding: 0px;
	margin: 0px;
	border: none;
} 

body {
    background-color: darkolivegreen;
}

.body-container {
    max-width: 1190px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 35px 55px rgba(0,0,0,0.5);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*____HEADER____*/

.header {
    margin: 50px;
    padding: 15px;
    
}

.img-box {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-name {
    text-align: center;

    font-weight: 700;
}

.dream-job {
    text-align: center;

    font-weight: 400;
}

/*____MAIN____*/

.main {
    margin: 0 50px;
}

.information {
    width: 40%;
}

.contacts {
    margin: 10px;
    font-weight: 700;
}

.about {
    width: 60%;
}

.about-me {
    font-weight: 700;
}

/*____FOOTER____*/